body{
    background-color: white;
    margin: 0px;
}
#logo{
    height: 150px;
    width: 150px;
}
#topbox{
    border-bottom: 3px solid;
    width: auto; 
    background-color: white;
    position: sticky;
    top: 0px;
    bottom: 0px;
    z-index: 100;
}
#Btopbox{
    position: absolute;
    top: 0px;
    right: 0px;
}
.H-button{
    font-size: 200%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    border: 3px solid;
    border-radius: 15px;
    margin-top: 7px;
    width: 130px;
}
h1{
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
}
p{
    background-color: white;
    color: black;
}
#p1{
    font-size: 300%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#p2{
    font-size: 200%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#p3{
    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#quotebutton{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 300%;
    border:5px solid black;
    background-color: silver;
    border-radius: 15px;

}
#submitbutton{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 200%;
    border:5px solid black;
    background-color: silver;
    border-radius: 15px;
}
label{
    font-size: 250%;
}
#bodyform{
    border: 10px solid;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 15px;
}
.pic{
    height:300px;
    width: 400px;
    border: 10px solid;
    border-color: black;
}
#mower{
    animation: Slide;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
@keyframes Slide{
    from{margin-left: 90%;}
    to{margin-left: -30%;}
}