html {
    height: 100%;
}
body{
    background-image: linear-gradient(to bottom, #ffffff, #8df47d);;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    min-width: 1000px
}
#logo{
    object-fit: cover;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
#topbox{
    /* position: sticky; */
    top: 0px;
    bottom: 0px;
    height: fit-content;
    min-width: 800px
}
#Btopbox{
    position: fixed;
    top: 0px;
    right: 0px;
    min-width: 750px;

}
#quotebox {
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 15px;
    background-color: #15db1f49;
    border: 2px solid;
    margin: top 30%;
    margin-bottom: 0px;
    margin-left: 20%;
    margin-right:20%;
    padding: 15px;
    max-width: 600px;

}
#quotebutton{
    width:100%;
    min-width: 200px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 300%;
    border:2px solid black;
    background-color:#025f29;
    border-radius: 15px;
    font-family: 'Segoe UI';
    margin: auto;
    color: #ffffff;

}
#MainTitle{
font-size: 500%;
font-family: 'Segoe UI';
color:rgb(17, 85, 17);

}
.H-button{
    background-color: #ffffff;
    font-size: 150%;
    font-family: 'Segoe UI';
    border: 3px solid;
    border-radius: 15px;
    margin-top: 7px;
    width: 180px;
    font-weight: bold;
}
h1{
    color:black;
    font-family: 'Segoe UI';
    font-size: 300%;
}
p{
    color: black;
}
#p1{
    font-size: 500%;
    font-family:'Segoe UI' ;
    color:rgb(17, 85, 17);
}
#p2{
    font-size: 150%;
    font-family:'Segoe UI' ;
}
#p3{
    font-size: 200%;
    font-family: 'Segoe UI';
    font-weight: bold;
    padding-left: 25px;
}
#OurServices{
    font-size: 300%;
    font-family:'Segoe UI' ;
    color:rgb(17, 85, 17);
}
#blocks{
    display: inline-block;
}










#submitbutton{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 200%;
    border:2px solid rgb(0, 0, 0);
    /* box-shadow: 0px 0px 3px black; */
    background-color: #d9fdd9;
    border-radius: 15px;
    color: #000000;
}
label{
    font-size: 200%;
    font-family: 'Segoe UI';
    margin-left: 70px;
}
#checkboxlabel{
    font-size: 200%;
    font-family: 'Segoe UI';
    margin-left: 20px;
}
#bodyform{
    background-color: #d9fdd9;
    border: 2px solid;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    padding: 25px;
    min-width: 800px;
    width: 100px;
    margin: auto;
}
#inputbox{
    font: 'Segoe UI';
    border: 1px solid;
    border-radius: 5px;
    min-height: 25px;
    font-size: 150%;
    margin-left: 10px;
    max-width: 550px;

}
#formsubtitle{
    font-size: 300%;
    font-family: 'Segoe UI';
    color:rgb(17, 85, 17);
    margin-top: 10px;
    margin-left: 25px;
}
#contactinfo{
 background-color: #d9fdd9;
}
#lawndetails{
border-top: #000000 solid 3px;
}
#quotecheckbox {
    margin-left: 80px;   
    display: flex;
    align-items: center; 
}
input[type=checkbox]{
    transform: scale(2);
}


#moweraboutus{
    opacity: 50%;
}






.pic{
    height:300px;
    width: 400px;
    border: 10px solid;
    border-color: black;
}
#mower{
    animation: Slide linear;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
@keyframes Slide{
    from{margin-left: 110%;}
    to{margin-left: -30%;}
}





.Spic{
    height:100%;
    width: 100%;
    border: 3px solid;
    border-color: black;
}







* {
    box-sizing: border-box;
}

.image-sliderfade {
    display: none;
}


#servicepics{
    width: 100%;
}

/* Slideshow container */
.boxes {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 20px 15px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 40%;
    background: rgba(0, 0, 0, 0.7);
    text-align: left;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: transparent;
    border-color: #ddd;
    border-width: 5 px;
    border-style: solid;
    border-radius: 50%;
    display: inline-block;
    transition: border-color 0.6s ease;
}

.active {
    border-color: #666;
}

/* Animation */
.fade {
    -webkit-animation-name: fade-image;
    -webkit-animation-duration: 1.5s;
    animation-name: fade-image;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade-image {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-image {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px;
    }
}